<ion-view title="Ubicla">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button icon ion-android-locate"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">
  	<img src="img/logo.svg" class="logo"><br>
  	<h3>Ubicla es un proyecto liderado por Mecabotware</h3><br>
  	<img src="img/mecabotware.svg" class="partner"><br>
  	<h3>Desarrollado como un proyecto de Open Data Puebla</h3><br>
    <img src="img/opendata.svg" class="partner"><br>
    <h3>Evento organizado por el capítulo de Hackers and Founders Puebla</h3><br>
    <img src="img/hf.svg" class="partner"><br>
    <h3>Por una iniciativa del Colectivo Bicionudos</h3><br>
    <img src="img/Bicionudos.png" class="partner center"><br>
  </ion-content>
</ion-view>
