<ion-side-menus>
	<ion-pane ion-side-menu-content>
		<ion-nav-bar class="bar-balanced nav-title-slide-ios7">
		  <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
	</ion-pane>

	<ion-side-menu>
		<header class="bar bar-header bar-balanced">
			<div class="button-icon icon ion-gear-b"></div>
			<h1 class="title">Opciones</h1>
		</header>
		<ion-content class="has-header">
			<ion-list>
				<ion-item nav-clear menu-close href="#">
					Smart Bikes
				</ion-item>
				<ion-item nav-clear menu-close href="#">
					Estacionamientos
				</ion-item>
				<ion-item nav-clear menu-close href="#">
					Biciamigos
				</ion-item>
				<ion-item nav-clear menu-close href="#">
					Talleres
				</ion-item>
				<ion-item nav-clear menu-close href="#">
					Rutas
				</ion-item>
				<ion-item nav-clear menu-close href="#">
					Ciclovías
				</ion-item>
				<ion-item nav-clear menu-close href="#">
					Emergencias
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>