<ion-side-menus>
	<ion-pane ion-side-menu-content>
		<ion-nav-bar class="bar-balanced nav-title-slide-ios7">
		  <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
		</ion-nav-bar>
		<ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
	</ion-pane>

	<ion-side-menu>
		<header class="bar bar-header bar-balanced">
			<div class="button-icon icon ion-gear-b"></div>
			<h1 class="title">Opciones</h1>
		</header>
		<ion-content class="has-header">
			<ion-list>
				<ion-item nav-clear menu-close href="#/app/inicio">
					Inicio
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/mapa/smartbikes">
					Smart Bikes
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/mapa/estacionamientos">
					Estacionamientos
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/mapa/biciamigos">
					Biciamigos
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/mapa/talleres">
					Talleres
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/acerca">
					Acerca
				</ion-item>
				<!-- NOT READY -->
				<!-- <ion-item nav-clear menu-close href="#/app/rutas">
					Rutas
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/ciclovias">
					Ciclovías
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/emergencias">
					Emergencias
				</ion-item> -->
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>