<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mecabotware.ubicla" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ubicla</name>
    <description>
        Ubica tus luares biciamigables
    </description>
    <author email="mecabotware@mecabotware.com" href="http://mecabotware.com/">
        Mecabotware
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
	<preference name="android-installLocation" value="preferExternal" />
</widget>
