<ion-view title="Ubicla">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button icon ion-android-locate"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <div ng-controller="MapCtrl" style="height:100%;">
          <leaflet width="100%" height="100%" center="center" defaults="defaults" markers="markers"></leaflet>
        </div>
  </ion-content>
</ion-view>
