<ion-view title="Ubicla" hide-nav-bar="true">


  <ion-content class="has-no-header">
  <div class="row">
    <img src="img/fondo.jpg" class="bg">
    <div class="col padding-horizontal">
      <img src="img/logo.svg" class="logo">
    </div>


  </div>
  <div class="row responsive-sm">
    <div class="col padding">
      <button class="button button-block button-energized icon-right ion-chevron-right" menu-toggle="left">
        <span class="sansserif">Pedalea</span>
      </button>

       
    </div>
  </div>
  </ion-content>
  </ion-view>
