img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.logo {
  margin: 30px;
  max-width: 100%;
  max-height: 128px;
}

.sansserif{
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
}

.has-no-header{
  top: 0px !important;
}